.gradle
*/local.properties
*/.idea
.DS_Store
*.iml
build
app/phone/build
local.properties
RevisionInfo.kt
keystore.properties
.idea
.*.swp
.qmake.stash
*_plugin_import.cpp
.hg
__pycache__
app/phone/unit_export.txt
app/phone/conversion_tests.txt
